@charset "UTF-8";

body{
    background-image: url('./wallpaper002.jpg');
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    text-align: center;
    font-weight: bold;
    background-color: aquamarine;
    padding-top: 40px;
    margin-bottom: 20px;
    margin: auto;

}

div#q1{
    background-color: skyblue;

}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);

}

div#q3{
    background-image: url('./pattern003.png');


}


div.quadrado{
    display: inline-block;
    border-radius: 10px;
    background-color: lightgrey;
    border: 2px solid black;
    width: 200px;
    height: 200px;    
}