@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#B9BCF0, #8F96DF);
    background-attachment: fixed;
}

p{
    text-align: justify;

}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #151353bb;
}

h1{
    color: #232C3C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.658);

}

h2{
    color: #151353;
}