@charset "UTF-8";

@font-face {
    font-family: 'Love';
    src: url('Zepter_Pro') format('truetype');
    font-weight: normal;
    font-style: normal;
}



*{
    font-family: 'Love', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

h1{
    text-align: center;
}

h2{
    text-align: left;
}

p{
    text-align: right;
    text-indent: 20px;
}